body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cancel{
  position: absolute;
  left: 0;
  margin-left: 20px;
}

.continue{
  position: absolute;
  right: 0;
  margin-right: 20px;
  color: black;
}

p{
  text-align: left;
}

.header{
  text-align: left;
}

.enrollees{
  text-align: left;
}